<ul class="list-unstyled text-center my-style">
  <li><%= @questions.capitalize %></li>
  <li class = "text-grey"> - You </li>
  <li><%= @answers.capitalize %></li>
  <li class = "text-grey"> - Your coach </li>
</ul>

