
<div class= "my-style">
  <h3 class= "text-center"> Speak to your coach</h3>
  <form action="/answer" method = "get" class = "form-inline text-center">
    <input type="text" id="question_ask" name="query" placeholder="what is your question?" class= "form-control">
    <input type="submit" value="Go on!" class= "btn btn-primary">
  </form>
</div>


